/* Réinitialisation des styles par défaut */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif; /* Assurez-vous de remplacer 'Your Font' par la police de caractères que vous souhaitez utiliser */
    background-color: #f8f9fa; /* Couleur de fond globale */
}

/* Style de la section du catalogue */
section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajustez cette propriété selon vos préférences */
}

/* Style de chaque formation */
.formation {
    border: 2px solid #ddd;
    padding: 15px;
    margin: 10px; /* Espacement entre les formations */
    border-radius: 8px; /* Coins arrondis */
    background-color: #fff;
    background-image: url('chemin/vers/votre/image.jpg'); /* Remplacez le chemin par le chemin réel de votre image */
    background-size: cover; /* Ajustez selon vos besoins */
    background-position: right center; /* Ajustez selon vos besoins */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex: 0 0 calc(30% - 20px); /* Ajustez cette propriété pour définir la largeur de chaque formation */
    box-sizing: border-box;
}

/* Changement de style au survol de la formation */
.formation:hover {
    transform: scale(1.02); /* Légèrement agrandir la formation au survol */
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.3); /* Ombre légère */
}

/* Style du titre de la formation */
.formation h3 {
    color: #007BFF; /* Couleur du titre */
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Style des informations de la formation */
.formation p {
    color: #555;
    margin-bottom: 8px;
}

/* Style des boutons d'inscription */
.formation button {
    background-color: #007BFF; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Changement de style au survol du bouton */
.formation button:hover {
    background-color: #0056b3; /* Nouvelle couleur de fond lors du survol */
}


